<div class="container">

    <!-- Start Burger button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- End Burger button -->

    <!-- Start Brand -->
    <a class="navbar-brand" href="{{ url('homepage') }}">SnowTricks</a>
    <!-- End Brand -->

    <!-- Start Navbar Mobile -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item {% if app.request.get('_route') == 'homepage' %}active{% endif %}">
                <a class="nav-link" href="{{ url('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'tricks' %}active{% endif %}">
                <a class="nav-link" href="#">Figures</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'login' %}active{% endif %}">
                <a class="nav-link" href="#">Connexion</a>
            </li>
            <li class="nav-item {% if app.request.get('_route') == 'register' %}active{% endif %}">
                <a class="nav-link" href="#">Inscription</a>
            </li>
        </ul>
    </div>
    <!-- End Navbar Mobile -->

</div>