{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('email-send') }}
{% endblock %}

{% block body %}
    <h1>un email de vérification vous a été envoyé à l'adresse : {{ userEmail }}</h1>
{% endblock %}