// FONTS
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

// VARIABLES
@import "tools/variables";
@import "tools/mixins";

// STYLE GUIDE
html {
  height: 100%;
}
body {
  min-height:100%;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
}

main {
  padding: 4rem 0;
}

// COMPONENTS
@import "components/header";
@import "components/footer";
@import "components/navbar";
@import "components/back-to-top";
@import "components/alerts";