.masthead {
  height: calc(100vh - #{$navHeight});
  min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include e('title') {
    font-weight: 400;
  }

  @include e('subtitle') {
    font-size: 1.5rem;
    font-weight: 300;
  }
}