.masthead {
  position: relative;
  height: calc(100vh);
  min-height: 500px;
  background-image: url('../images/snow-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFFFFF;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.4;
    background-color: #000000;
  }

  .content-title {
    z-index: 2;
  }

  @include e('title') {
    font-family: 'Pacifico', cursive;
    font-weight: 400;

    @media screen and (min-width: $medium) {
      font-size: 3rem;
    }

    @media screen and (max-width: $small) {
      font-size: 2rem;
    }
  }

  @include e('subtitle') {
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    font-weight: 300;

    @media screen and (max-width: $small) {
      font-size: 1rem;
    }
  }

  @include e('button') {
    position: absolute;
    font-size: 3rem;
    cursor: pointer;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}