<h3>Changement de mot de passe</h3>
<p>Si vous êtes à l'origine de cette demande, veuillez cliquer sur le lien ci-dessous :</p>
<a href="{{ url('app_reset_password', {'vkey': vkey}) }}">Cliquez ici</a>