<div class="row">
    <div class="card-deck">

        {% for trick in tricks %}
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="card">
                    <img class="card-img-top" src="http://placehold.it/328x219" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ trick.title }}</h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            {% if trick.updatedAt != null %}
                                Modifié le {{ trick.updatedAt|date('d/m/Y') }}
                            {% else %}
                                Créé le {{ trick.createdAt|date('d/m/Y') }}
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Pagination -->
{% include 'homepage/_partials/pagination.html.twig' %}