<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="m-0 display-1">Bienvenue sur SnowTricks !</h1>
                <h2 class="m-0 display-4">Découvrez les dernière figures</h2>
            </div>
        </div>
    </div>
</header>